<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decathlon - all your sporting needs</title>
</head>
<body>

    <h1>Decathlon - Home</h1>

    <ul>
        <% for(let product of allProducts) { %>
            <li><%= product.name %></li>
            <a href="/products/<%= product._id %>/details">Show details</a>
        <% } %>
    </ul>

    <form action="/products/new">
        <button>Add a new product</button>
    </form>
    
</body>
</html>