<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>The Home Page! <%= "hello world".toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sequi fuga accusantium quisquam laborum! Voluptatum debitis voluptatem repellat, enim veritatis quidem odio, quisquam quis sint quo voluptas, incidunt animi fuga.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, facilis corrupti quod veritatis ea aspernatur nemo repudiandae voluptatum totam eligendi, earum omnis repellat perferendis veniam deserunt reiciendis et culpa nobis.</p>
    
</body>
</html>